@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	html {
		@apply text-base;
	}
	@screen 2xl {
		html {
			@apply text-lg;
		}
	}
	h1,
	h2 {
		@apply font-title;
	}
	input:focus,
	textarea:focus {
		@apply outline-none;
	}

	.cutText {
		@apply overflow-hidden inline-block text-ellipsis whitespace-nowrap;
	}
	.dynamicColumns {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		grid-gap: 3em;
	}
}
